.button
{
  min-height: 0;
  line-height: 30px;
}
.space::before 
{
	margin-right: 10px;
}
.ion-ios-help-outline
{
  margin-right: 5px;
}
.ion-ios-flag:before
{
  padding-right: 4px;
  padding-left: 2px;
}