.button
{
  min-height: 0;
  line-height: 30px;
}
.card
{
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
}
.center
{
  display: flex;
  justify-content: center;
}
.invisible
{
  display: none;
}
.ion-ios-help-outline
{
  margin-right: 5px;
}
.ion-ios-flag:before
{
  padding-right: 4px;
  padding-left: 2px;
}
.space-around
{
  display: flex;
  justify-content: space-around;
}
.space::before 
{
  margin-right: 10px;
}
.space-between
{
  display: flex;
  justify-content: space-between;
}
ion-content
{
  background-color: #073DA3;
  background-image: url('sunrise.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-size: 100% 80%;
  margin-bottom: 40px;
}
.item-complex .item-content, .item-radio .item-content
{
  padding-right: 16px;
}
.orange-text
{
  color: orange;
}
.blue-text
{
  color: blue;
}