@font-face {
  font-family: moderne;
  src: url('/css/font/MODERNE SANS.ttf');
}

.button
{
  min-height: 0;
  line-height: 30px;
}
.space::before 
{
	margin-right: 10px;
}
.invisible
{
  display: none;
}
.ion-ios-help-outline
{
  margin-right: 5px;
}
.ion-ios-flag:before
{
  padding-right: 4px;
  padding-left: 2px;
}
.space-between
{
  display: flex;
  justify-content: space-between;
}
.space-around
{
  display: flex;
  justify-content: space-around;
}

ion-content
{
  background-color: #073DA3;
  background-image: url('../../img/city.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.card
{
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
}
.center
{
  display: flex;
  justify-content: center;
}