.games-divider
{
  float:left;
  width: 4px;
  height: 35px;
  margin-right: 9px;
  background-color: black;
}
.games-join 
{
  float: right;
}
.games-time
{
  float:left;
  width: 62px;
  padding: 4px 9px 0 0;
}
.games-title
{
  display: inline-block;
}
.time-end
{
  color: #7F7F7F;
}
.time-start
{
  padding-bottom: 3px;
}