<ion-view view-title="{{ game.name }}">
  
  <!-- Will remove, just to demo -->
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="toggle()">
      <div style="font-size: 30px;" ng-class="{'ion-toggle': toggled, 'ion-toggle-filled': !toggled}"></div>
    </button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">

    <!-- The top scoreboard -->
    <div class="card top-content">
      <!-- Timer and scores -->
      <div class="space-between">
        <div>
          <div class="orange-score">17</div>
          <div class="score-label">Locations</div>
        </div>
        <div class="time-remaining">01:17:32</div>
        <div>
          <div class="blue-score">10</div>
          <div class="score-label">Locations</div>
        </div>
      </div>
      <!-- Time and map link -->
      <div class="space-between time-and-map">
        <div>
          {{ game.startMoment.format('h:mm a') }} - 
          {{ game.endMoment.format('h:mm a') }}
        </div>
        <div ui-sref="app.map" ng-class="{'invisible': toggled}">See Full Map ></div>
      </div>
    </div>

    <!-- Game not started case -->
    <div class="game-not-started" ng-show="toggled">
      <div class="card">
        <!-- Game countdown -->
        <div class="item item-divider center">Game starts in 0:37:10</div>
        <!-- Join buttons -->
        <ion-item class="join-buttons">
          <button class="button button-energized join-button" ng-click="join('orange', game)">
            <div class="join-text">Join</div> 
            <!-- <div>Orange Team</div> -->
          </button>
          <button class="button button-positive join-button" ng-click="join('blue', game)">
            <div class="join-text">Join</div> 
            <!-- <div>Blue Team</div> -->
          </button>
        </ion-item>
        <ion-item class="space-around">
          <div>Matt</div>
          <div>Conner</div>
        </ion-item>
        <ion-item class="space-around">
          <div>Brik</div>
          <div>Bunny</div>
        </ion-item>
        <ion-item class="space-around">
          <div>Josh</div>
          <div>Roger</div>
        </ion-item>
      </div>
    </div>

    <!-- The flag list -->
    <div class="card flag-list" ng-show="!toggled">
      <ion-list>
        <div class="item item-divider">
          Flags
        </div>
        <ion-item ng-repeat="location in game.locations" ui-sref="app.map({lat: location.lat, long: location.long })">
          <div class="space-between">
            <h2 class="inline-block">{{ location.name }}</h2>
            <h2 class="inline-block orange-text" ng-show="location.orangeScore > 0">{{ location.orangeScore }} points</h2>
            <h2 class="inline-block blue-text" ng-show="location.blueScore > 0">{{ location.blueScore }} points</h2>
            <h2 class="inline-block" ng-show="location.orangeScore === 0 && location.blueScore === 0">Unclaimed</h2>
          </div>
          <div class="space-between">
            <p class="inline-block">{{ location.address | shortAddress }}</p>
            <p class="inline-block">0.3 mi</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>