<ion-view view-title="{{ game.name }}">
  <ion-content has-bouncing="true">

    <!-- The top scoreboard -->
    <div class="card top-content">
      <!-- Timer and scores -->
      <div class="space-between">
        <div>
          <div class="orange-score">{{ orange }}</div>
          <div class="score-label">Flag<span ng-show="orange != 1">s</span></div>
        </div>
        <div class="time-remaining">{{ duration | seconds }}</div>
        <div>
          <div class="blue-score">{{blue}}</div>
          <div class="score-label">Flag<span ng-show="blue != 1">s</span></div>
        </div>
      </div>
      <!-- Time and map link -->
      <div class="space-between time-and-map">
        <div>
          {{ start }} - 
          {{ end }}
        </div>
        <div ui-sref="app.map" ng-class="{'invisible': state === 'join'}">See Full Map ></div>
      </div>
    </div>

    <!-- Game not started case -->
    <div class="game-not-started" ng-show="state === 'join'">
      <div class="card">
        <!-- Game countdown -->
        <div class="item item-divider center">Game starts in {{ timeTillGame | seconds }}</div>
        <!-- Join buttons -->
        <ion-item class="join-buttons">
          <button class="button button-energized join-button" ng-click="join('orange', game)">
            <div class="join-text">Join</div>
          </button>
          <button class="button button-positive join-button" ng-click="join('blue', game)">
            <div class="join-text">Join</div>
          </button>
        </ion-item>
        <!-- # users -->
        <ion-item class="space-around" ng-show="joined.length > 0">
          <div class="user-list"><strong>{{ game.orangeTeam.length }} players</strong></div>
          <div class="user-list"><strong>{{ game.blueTeam.length }} players</strong></div>
        </ion-item>
        <!-- User List -->
        <ion-item class="space-around" ng-repeat="line in joined">
          <div class="user-list">{{ line.orange }}</div>
          <div class="user-list">{{ line.blue }}</div>
        </ion-item> 
      </div>
    </div>

    <!-- The flag list -->
    <div class="card flag-list" ng-show="state === 'inProgress'">
      <ion-list>
        <div class="item item-divider">
          Flags
        </div>
        <ion-item ng-repeat="location in game.locations" ui-sref="app.map({lat: location.lat, long: location.long })">
          <div class="space-between">
            <h2 class="inline-block">{{ location.name }}</h2>
            <h2 class="inline-block orange-text" ng-show="location.orangeScore > 0">{{ location.orangeScore }} points</h2>
            <h2 class="inline-block blue-text" ng-show="location.blueScore > 0">{{ location.blueScore }} points</h2>
            <h2 class="inline-block" ng-show="location.orangeScore === 0 && location.blueScore === 0">Unclaimed</h2>
          </div>
          <div class="space-between">
            <p class="inline-block">{{ location.address | shortAddress }}</p>
            <p class="inline-block">0.3 mi</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>