.error
{
  border: 1px solid red;
}
.login-button
{
  margin: auto;
  display: flex;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  width: 70%;
  padding: 13px 0;
  justify-content: center;
}
.welcome
{
	font-family: moderne;
	color: white;
	font-size: 55px;
	line-height: 85px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
  height: 30%;
}
.welcome > img
{
  width: 100%;
}
.login-input
{
  margin: 26px auto 15px;
  width: 70%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}
.login-input > label
{
  padding: 3px 15px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
input.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input
{
  padding: 0;
  text-align: center;
}
.username-taken-error
{
  color: red;
  border: 1px solid #e60000;
  background-color: #ffe6e6;
  padding: 5px;
  margin-bottom: -22px;
  text-align: center;
}